.div1
{
	width:100px;
	height: 100px;
	background:red;
	position: absolute;
	left:600px;
	top:50px;
}

.div2
{
	width:1px;
	height:300px;
	position:absolute;
	left:300px;
	top:0;
	background:black;
}